@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600;700&display=swap');

:root {
    --blue: hsl(209,51,64);
    --green: #09b39c;
    --header-height: 90px;
    --flex-item-size: 320px;
}

body {
    font-family: 'Source Sans Pro', 'Arial', sans-serif;
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.gridcontainer {
    display: grid;
    width: 100vw;
    justify-content: center;
    align-content: center;
    grid-template-rows: 80px minmax(300px, auto) 80px;
    grid-template-columns: 1fr;
    row-gap: 2em;
    grid-template-areas: 
        "header"
        "main"
        "footer";
  }

h1 {
    display: inline-block;
    font-size: 2.2em;
    font-weight: 600;
    border-bottom: 2px solid var(--green);
    padding-bottom: 0.1em;
    scroll-margin-top: var(--header-height);
    margin: 0.25em 0;
}

h2 {
    font-size: 1.5em;
    font-weight: 400;
}

p {
    line-height: 1.6em;
    font-weight: 400;
    margin: 0.5em 0 1.2em;
}

a {
    text-decoration: none;
    color: black
}

header {
    grid-area: header;
    background-color: white;
    display: flex;
    height: var(--header-height);
    width: 100%;
    position: fixed;
    z-index: 99;
    border-bottom: 2px solid var(--green);
}

.header-container {
    display: flex;
    flex: 0 1 1170px;
    margin: 0 auto;
    justify-content: space-between;
}

.logo-container {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3rem;
}

header .logo {
    flex: 1;
    margin-right: 0;
    height: 75px;
}

.logo-text {
    flex: 1;
    width: 100%;
    margin-left: 1rem;
    color: var(--green);
    font-size: 1.3rem;
}

nav {
    display: inline-flex;
}

nav ul {
    flex: 1;
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    font-size: 1.3em;
    margin-right: 3rem;
}

nav ul li {
    margin-left: 2em;
    border-bottom: 4px solid transparent;
    transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

nav ul li:hover {
    border-bottom: 4px solid var(--green);
}

article {
    grid-area: main;
    box-shadow: 7px 7px 10px rgba(90, 90, 90, 0.07);
    z-index: 5;
    max-width: 1170px;
    width: 80%;
    margin: 0 auto;
}

@media screen and (max-width: 810px) {
    article {
        width: 100%;
        margin: 0;
    }
 }

 section.content {
    padding: 0 1em;
 }

 .list {
    background-color: #f7fafc;
    margin: 0 -1em;
    padding: 1em;
 }

 .items {
     justify-content: space-around;
     display: flex;
     flex-wrap: wrap;
     width: 100%;
 }


 .item {
    background-color: white;
    box-shadow: 5px 5px 5px rgba(90, 90, 90, 0.07);
    padding: 1em;
    margin: 0.5em;
    flex: 0 0 var(--flex-item-size);
    flex-flow: row wrap;
    line-height: 1;
    text-align: center;
}

@media screen and (max-width: 810px) {
    .item {
        flex: 1 0 100%;
    }
 }

.image-container {
    width: 100%;
    flex: 1;

}

.image-container img {
    max-width: 100%;
}

footer {
    font-size: 0.75rem;
    grid-area: footer;
    background-color: rgb(223, 223, 223);
}
